.header {
    height: 56px;
    margin-bottom: 0px;
    background-color: white;
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  
.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.opened {
  transform: translateY(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-lg);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black-1), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.link:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}