.navbar {
    /* box-shadow: var(--mantine-shadow-sm); */
    /* padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column; */
}

.stack {
    padding-top: 10px;
    gap: var(--mantine-spacing-xs);
}

.paper {
    height: 75px;
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-color: var(--mantine-color-blue-filled);

    transition:
            transform 150ms ease;

    &:hover {
        transform: scale(1.01);
    }
}

.title {
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  /* width: 400px; */
  height: 100vh;
  /* padding: var(--mantine-spacing-md); */
  /* display: flex; */
  /* flex-direction: column; */
}

.createSubjectButton {
  background-color: #4c6ef5;
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.createSubjectButton:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
