.body {
  padding: var(--mantine-spacing-md)
}

.title {
  font-weight: bold;
  line-height: 1.5;
}

.card {
  display: flex;
  /* height: 100px; */
  flex-direction: column;
  justify-content: space-between;
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-gray-0);
  box-shadow: var(--mantine-shadow-sm);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}